<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="imgaagen" src="/images/logonuevo.jpg">
                    <p> Productos de maquillaje</p>
                    <p>Querés recibir nuestras novedades? info@fabsbeauty.com.</p>
                    <p> Encontrá el logo de Cruelty Free en todos nuestros lanzamientos</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2 class="t-footer">Servicio de atención al cliente</h2>
                    <p>Contacto</p>
                    <p>privacy policy</p>
                    <p>cookie settings</p>
                    <p>cookie policy</p>


                    <!-- <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p> -->
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2 class="t-footer">Redes sociales</h2>
                    <ul class="iconoss">

                        <li class="iconos"><i class="fa-brands fa-facebook" style="color: #ea9fd2;"></i></i></li>
                        <li class="iconos"><i class="fa-brands fa-instagram" style="color: #ea9fd2;"></i></li>

                    </ul>                   

                </article>
            </div>
        </div>
    </div>
</footer>