<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-heart" style="color: #efcce6;"></i>
					<h2>Nuevos productos</h2>
					<p>Querés recibir nuestras novedades? ingresá a info@fabsbeauty.com y enterate de todos nuestros ingresos</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-people-group" style="color: #efcce6;"></i>
					<h2>Sobre nosotros</h2>
					<p>Somos Aldana Garnero, Rosario Esquivel y Renata Lamas, estudiantes de negocios digitales en UdeSA</p>					
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-user" style="color: #efcce6;"></i>
					<h2>Atención al cliente</h2>
					<p>Estamos felices de responder tus preguntas. Contactanos, te responderemos lo antes posible.</p>
				</article>
			</div>
		</div>
	</div>
</footer> 