<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<%-include('./partials/header')%>

		<!-- Formularaio -->
		<main class="container">
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Ingresá</h2>
					</div>
				</div>

				<form class="form-register" action="/profile/login" method="POST">
					<input class="controls" type="email" name="email" placeholder="Email">
					<input class="controls" type="username" name="username" placeholder="Nombre de usuario">
					<input class="controls" type="password" name="password"  placeholder="Contraseña">
					<button class="button-send" type="submit">Iniciar sesión</button>
					<h3 class="recordarme"><input class="recordarme" type="checkbox" name="recordarme" placeholder="Recordarme">Recordarme</h3>
				</form>
			</div>
		</main>

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>