<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<%-include('./partials/headerLogueado')%>

		<!-- Formularaio -->
		<main class="container">
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar producto</h2>
					</div>
				</div>
				<form class="form-register" action="/products/edit/<%= product.id %>" method="POST">
					<input class="controls" type="text" name="images" id="images" placeholder="Inserte una imagen">
					<input class="controls" type="text" name="name" id="nombre" placeholder="Nombre del producto">
					<input class="controls" type="text" name="longDescription" id="descripcion" placeholder="Descripción detallada">
					<input class="controls" type="text" name="shortDescription" id="descripcion" placeholder="Descripción breve">
					<button class="button-send" type="submit">Enviar</button>
				</form>	
			</div>
		</main>	

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>