<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head')%>

<body>
<!-- Include Header -->
<%-include('./partials/header')%>

	<!-- Formularaio -->
	<main class="container">
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Agregar productos</h2>
				</div>
			</div>

			<form class="form-register" action="ingresar" method="GET">
				<input class="controls" type="file" name="images" id="images" placeholder="Inserte una imagen">
				<input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
				<input class="controls" type="text" name="descripcion" id="descripcion" placeholder="Descripción">
				<input class="controls" type="date" name="fecha" id="fecha" placeholder="Fecha de carga">
				<button class="controls" type="submit">Enviar</button>
			</form>	
		</div>
	</main>	

<!-- Include Footer -->
<%-include('./partials/footer')%>
</body>

</html>