<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head')%>

<body>
<!-- Include Header -->
<%-include('./partials/header')%>

	<!-- Formulario  -->
	<main class="container">
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Regístrate</h2>
				</div>
			</div>
			
			<form class="form-register" action="./profile.ejs" method="GET">
				<input class="controls" type="text" name="nombre" id="mobre" placeholder="Nombre">
				<input class="controls"type="text" name="apellido" id="apellido" placeholder="Apellido">
				<input class="controls" type="date" name="fechadenacimiento" id="fechadenacimiento" placeholder="Fecha de nacimiento">
				<input class="controls" type="tel" name="phone" id="phone" placeholder="Teléfono">
				<input class="controls" type="numbers" name="number" id="documento" placeholder="Documento">
				<input class="controls" type="email" name="mail" id="mail" placeholder="Mail">
				<input class="controls" type="password" name="password" id="password" placeholder="Contraseña">
				<button class="controls" type="submit">Enviar</button>
			</form>
		</div>
	</main>
			
<!-- Include Footer -->
<%-include('./partials/footer')%>
</body>

</html>